To execute the RobustnessDistribution.py file, one needThe code was used on a linux-64 platform equipped with NVIDIA GPUs and is only verified to work with this configuration.

In order to execute the adversarial-training-box scripts, one first needs to install the adversarial-training-box such as explained in its Readme (https://anonymous.4open.science/r/adversarial-training-box-3982/README.md). In the conda environment one can execute for example CIFAR training like this from the command line: python cifar-pgd-training.py --network {resnet18,resnet34,resnet50,wideresnet_28_10,wideresnet_34_10}. For transfer learning scripts one can run the scripts like this: python transfer-learn.py --source_model PATH_TO_PTH_SOURCE_MODEL --experiment_name NAME_FOR_WANDB --retraining_layers NUMBER_OF_RETRAINED_LAYERS.
        
In order to execute RobustnessDistributions.py one needs to install it first as desribed in the Readme. Then one can execute the file using the terminal command python RobustnessDistributions.py --directory_path DIRECTORY_CONTAINING_ONNX_FILE --dataset DATASET(EITHER MNIST,EMNIST,CIFAR10,CIFAR100). 

For creating the plots one needs to pip install the following packages first: pandas, seaborn, matplotlib, pathlib, argparse, typing. One has to fill the path, experiment name and accuracies direclty in the scripts and can then execute them. 
